:root {
    --bordo-transparente: #6D1D20;
}

.fundo_Bordo {
    position: fixed;
    display: block; 
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2048; 
    cursor: pointer;
    background-color: var(--bordo-transparente);
    opacity: 0.9;
}