:root {
    --bordo-transparente: #6D1D20;
    --branco: #FFFFFF;
    --cinza: #646363;
    --preto: #000000;
    --cinza-claro: #e4e4e4;
}


.fundo_Bordo {
    position: fixed;
    display: flex;
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2048; 
    cursor: pointer;
    background-color: var(--bordo-transparente);
    opacity: 0.9;
    justify-content: center;
    flex-direction: column;
}

.fundo_bordo--desabilitado {
    display: none;
}

.div_Primaria{
    text-align: center;

}

.Paragrafo_principal {
    color: var(--branco);
    font-size: 25px;
    font-weight: 700;
    text-align: center;  
   
}

.selecionar__campus {
    text-decoration: var(--branco);
    background-color: var(--cinza);
    color: var(--branco);
    align-items: center;
    padding: 9px 55px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
}
option{
    background-color: var(--cinza-claro);
    color: var(--cinza);
    font-size: 16px;
    font-weight: 700;
}

    
.divisor{
    border: 1px solid var(--branco);
    width: 30%;
}
